{% load rest_framework %}
<!DOCTYPE html>
<html lang="ru" ng-app="myapp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ChatLTE | Registration Page</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.5/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/square/blue.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition register-page" ng-controller="MainCtl">
<div class="register-box" style="width: 445px; margin: 4% auto;">
  <div class="register-logo">
    <a href="/"><b>Chat</b>LTE</a>
  </div>
  <div class="login-box-body">
      <p class="login-box-msg">Авторизуйтесь, чтобы продолжить общение</p>

      <form action="/api-auth/login/?next=/chat" method="post">
        {% csrf_token %}
        <div class="form-group has-feedback">
          <input id="id_username" name="username" type="text" class="form-control" placeholder="Имя пользователя" required="" />
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input id="id_password" name="password" type="password" class="form-control" placeholder="Пароль" required="" />
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-12">
            <button type="submit" name="submit" id="submit-id-submit" class="btn btn-primary btn-block btn-flat">Войти</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
  <div class="register-box-body">
    <p class="login-box-msg">Зарегистрируйтесь и начните общение</p>

    <form action="/" method="post" name="userForm">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="username" placeholder="Имя пользователя" required />
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="email" type="email" class="form-control" placeholder="Email" required />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="Пароль" id="pass1" ng-model="pass1" required />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" ng-class="{'has-error': userForm.pass2.$error.pwmatch}">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <input type="password" class="form-control" name="pass2" placeholder="Повторите пароль" id="pass2" ng-model="pass2" pw-check="pass1" required />
        <label class="control-label" for="pass2" ng-show="userForm.pass2.$error.pwmatch"><i class="fa fa-times-circle-o"></i> Пароли не совпадают</label>
        <div class="msg-block" ng-show="userForm.$error">
        </div>
      </div>
      <div class="row">

        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success btn-block btn-flat" ng-disabled="userForm.pass2.$error.pwmatch">Зарегистрироваться</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 2.2.4 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- putting this at the top to remove the jarring load -->
<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
<script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
<script>
  var myapp = new angular.module("myapp", ["ngResource", "myapp.directives"]);
  // inject the $resource dependency here
  myapp.controller("MainCtl", ["$scope", "$resource", function($scope, $resource){
    }]);

  /* Directives */
  angular.module('myapp.directives', [])
      .directive('pwCheck', [function () {
      return {
          require: 'ngModel',
          link: function (scope, elem, attrs, ctrl) {
              var firstPassword = '#' + attrs.pwCheck;
              elem.on('keyup', function () {
                  scope.$apply(function () {
                      // console.info(elem.val() === $(firstPassword).val());
                      ctrl.$setValidity('pwmatch', elem.val() === $(firstPassword).val());
                  });
              });
          }
      }
  }]);

</script>
</body>
</html>
